<article class="post">
  <div class="title">
    <a href="{{post_content}}" target="_blank">{{title}}</a>
    
  </div>
  <div class="meta">
    <span>{{format_url post_content}}  </span>|
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>